body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(61, 240, 216);
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x:scroll;
  min-height: 50px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
  display: block;
  width: 30%;
  height: auto;
  border-radius: inherit;
  background-color:rgb(204, 120, 23);
}
.ui.card>.extra, .ui.cards>.card>.extra {
  background-color: rgb(98, 0, 255);
}